In [3]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from os import listdir
from os.path import isfile, join
import ineqpy
DATA_dir = "sugarscape/data/"

In [8]:
data_filenames = [f for f in listdir(DATA_dir) if isfile(join(DATA_dir, f))]
print(data_filenames)

['2021-01-15 12.11.csv']

In [34]:
df_concat_list = []
run = 0
for data_filename in data_filenames:
    df = pd.read_csv(DATA_dir + data_filename)
    df.insert(0, "Run", run)
    run += 1
    
    for step in set(df["Step"].tolist()):
        wealth = np.array( df.loc[(df.Step == step)]["Wealth"].tolist() )
        gini = ineqpy.gini(np.array(wealth))
        df.loc[(df.Step == step), "Gini"] = gini
        
    df_concat_list.append(df)
data_raw = pd.concat(df_concat_list)
del df_concat_list
del run
data_raw

     Run  Step  AgentID  Wealth  Position      Gini
0      0     0        0     2.0   (4, 43)  0.000000
1      0     0        1     2.0  (45, 14)  0.000000
2      0     0        2     2.0  (23, 34)  0.000000
3      0     0        3     2.0  (28, 41)  0.000000
4      0     0        4     2.0    (9, 1)  0.000000
..   ...   ...      ...     ...       ...       ...
971    0     9       95    29.0   (6, 40)  0.155717
972    0     9       96    29.0   (8, 36)  0.155717
973    0     9       97    29.0   (5, 37)  0.155717
974    0     9       98    26.0  (16, 38)  0.155717
975    0     9       99    24.0  (31, 22)  0.155717

[976 rows x 6 columns]

In [48]:
data = data_raw.groupby(["Run", "Step"]).mean().reset_index()
data = data[["Run", "Step", "Gini"]]
data

   Run  Step      Gini
0    0     0  0.000000
1    0     1  0.176274
2    0     2  0.205659
3    0     3  0.206741
4    0     4  0.201486
5    0     5  0.194883
6    0     6  0.186320
7    0     7  0.174075
8    0     8  0.164365
9    0     9  0.155717